/* @media only screen and (max-width: 740px){
    #wrapper {background: #777;}
}
@media only screen and (max-width: 570px){
    #wrapper {background: #7f7;}
}
@media only screen and (max-width: 480px){
    #wrapper {background: #77f;}
} */
@media screen and (max-width: 600px) {
    #wrapper {
      width: 100%;
      float: none;
    }
    h1,h2,h3{
        text-align: center;
    }
  }